<div *ngIf="country | async; let country">
    <button mat-raised-button [routerLink]="'/'" color="primary" class="back">
        Back
    </button>

    <div class="country-layout">
        <div class="main-flag-card">
            <mat-card class="main-flag card shadow">
                <mat-card-header>
                    <mat-card-title>{{country.name}}</mat-card-title>
                    <mat-card-subtitle class="subtitle">{{country.region}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-img [src]="country.flag" class="flag-image" />
            </mat-card>
        </div>
        <div class="primary-info">
            <mat-card class="main-info card shadow">
                <p>
                    <strong>Native name: </strong>
                    {{country.nativeName}}
                </p>
                <p>
                    <strong>Capital: </strong>
                    {{country.capital}}
                </p>
                <p>
                    <strong>Subregion: </strong>
                    {{country.subregion}}
                </p>
                <p>
                    <strong>Latitude / Longitude: </strong>
                    {{country.latlng[0] | number: "1.0"}} / {{country.latlng[1] | number: "1.0"}}
                </p>
                <p>
                    <strong>Population: </strong>
                    {{country.population | number : "1.0"}}
                </p>
            </mat-card>
            <br>
            <mat-card class="secondary-info card shadow">
                <p>
                    <strong>Demonym: </strong>
                    {{country.demonym}}
                </p>
                <p>
                    <strong>Top-level Domain: </strong>
                    {{country.topLevelDomain}}
                </p>
                <p>
                    <strong>Timezones: </strong>
                    {{getTimezoneNames(country.timezones)}}
                </p>
                <p>
                    <strong>Currencies: </strong>
                    {{getCurrencyNames(country.currencies)}}
                </p>
                <p>
                    <strong>Languages: </strong>
                    {{getLanguageNames(country.languages)}}
                </p>
            </mat-card>
        </div>

        <div class="border-countries-card" *ngIf="borderCountries | async; let borderCountries">
            <mat-card class="card shadow">
                <p><strong>Border Countries: </strong></p>
                <div class="border-countries">
                    <div class="border-button" *ngFor='let bc of borderCountries' [routerLink]="'/' + bc.name">
                        <button mat-raised-button color="primary">
                            {{bc.name}}
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

</div>