<div class="filters">
    <form class="form">
        <input type="text" [(ngModel)]="searchQuery" name="searchinput" />
    </form>

    <div>
        <app-region-filter [options]=" Regions" [(value)]="region">

        </app-region-filter>
    </div>
</div>


<div class="overflow">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutGap="16px grid"
        fxLayoutAlign="space-around center">
        <app-card-display fxFlex="calc(25% - 16px)" *ngFor="let country of countries" [country]="country" class="card">

        </app-card-display>
    </div>
</div>