<div class="filters">
    <div class="form">
        <form>
            <span class="search-title">Search</span>
            <input type="text" [(ngModel)]="searchQuery" name="searchinput" />
        </form>
    </div>
    <div>
        <app-region-filter [options]=" Regions" [(value)]="region">

        </app-region-filter>
    </div>
</div>


<div class="overflow">
    <div class="card-display">
        <app-card-display *ngFor="let country of countries" [country]="country" class="card">

        </app-card-display>
    </div>
</div>