.flag-image
    position: relative
    height: 200px
    overflow: hidden

:host-context(.l) mat-card
    background-color: var(--l-material)
    text: var(--l-text)
    .cardbg
        color: var(--l-text) ! important

:host-context(.d) mat-card
    background-color: var(--d-material)
    .cardbg
        color: var(--d-text) ! important